# -----------------------------------------------------------------------------
# Omezeni pripon souboru pro verzovani projektu KEO
# -----------------------------------------------------------------------------
#vse globalne zakazano:
*.*

# -----------------------------------------------------------------------------
# Povolene soubory
# -----------------------------------------------------------------------------
# gitingnore list
!*.gitignore

# archiv
!*.zip

# dokumentace
!*.txt
!*.pdf
!*.doc
!*.docx
!*.md
!*.tex
!*.xls
!*.xlsx
!*.cls

# obrazky
!*.png
!*.jpg
!*.bmp
!*.jpeg

# slovniky
!*.dic
!*.aff

# KiCad
!*.sch
!*.lib
!*.pro
!*.kicad_pcb
!fp-lib-table
!sym-lib-table