# -----------------------------------------------------------------------------
# Omezeni pripon souboru pro verzovani projektu KEO
# -----------------------------------------------------------------------------
#vse globalne zakazano:
*.*

# -----------------------------------------------------------------------------
# Povolene soubory
# -----------------------------------------------------------------------------
# gitingnore list
!*.gitignore

# dokumentace
!*.txt
!*.pdf
!*.doc
!*.docx
!*.md
!*.tex
!*.xls
!*.xlsx
!*.cls

# obrazky
!*.png
!*.jpg
!*.bmp
!*.jpeg

# slovniky
!*.dic
!*.aff

# KiCad
!*.sch
!*.lib
!*.pro
!sym-lib-table
!fp-lib-table
!fp-info-cache
!*.kicad_pro
!*.kicad_pcb
!*.kicad_sch
!*.kicad_sym
!*.kicad_mod
!*.kicad_dru
!*.kicad_wks
!*.pretty

# Simulace
!*.sch
!*.cir
!*.asc

# Gerber data
!*.gbr
!*.ger
!*.pho
!*.gbl
!*.gtl
!*.gbs
!*.gts
!*.gbo
!*.gto
!*.gm1
!*.gm2
!*.gm3

# NC Drill soubory
!*.drl
!*.drd

# CAM / Assembly výstupy
!*.bom
!*.csv
!*.pos
!*.mnt
!*.pick