#------------------------------------------------------------------------------
#Omezeni pripon souboru pro verzovani projektu Navody
#------------------------------------------------------------------------------
#vse globalne zakazano:
*.*

#------------------------------------------------------------------------------
#Povolene soubory
#------------------------------------------------------------------------------
#gitingnore list
!*.gitignore

#dokumentace
!*.txt
!*.pdf
!*.doc
!*.docx
!*.md
!*.tex
!*.xls
!*.xlsx
!*.cls

#obrazky
!*.png
!*.jpg
!*.bmp
!*.jpeg

#slovniky
!*.dic
!*.aff